@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primaryBGColor: #101019;
  --secondaryBGColor: #0a0a10;
  --tertiaryBGColor: #17171c;

  --primaryTextColor: #fafafa;
  --secondaryTextColor: #f0f0f0;

  --highlightTextColor: #bf00ff;
}

h1 {
  @apply text-4xl font-extrabold;
}

h2 {
  @apply text-3xl font-bold my-12;
}

h3 {
  @apply text-2xl my-8;
}

.container {
  @apply px-8 mx-auto;;
}

html {
  height: 100%;
  min-width: 100%;
  width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  color: var(--primaryTextColor);
  background-color: var(--secondaryBGColor);
}

main {
  flex: 1 1 0;
}

p {
  color: var(--secondaryTextColor);
  letter-spacing: .05rem;
  line-height: 2rem;
  max-width: 100ch;
}


header {
  background-color: var(--tertiaryBGColor);

  border-bottom: 2px solid #303030;
  box-shadow: 0 5px 5px 0 rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  z-index: 10;
}

#navbar {
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

#hero {
  box-sizing: border-box;
  min-height: 75vh;
  padding-top: 5rem;
  position: static;
}

#heroHeadshot {
  align-self: flex-end;
  position: relative;
  margin-bottom: -5rem;
}

#backgroundImagesContainer {
  box-sizing: border-box;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -10;
  overflow: hidden;
}

#heroBGLayer0 {
  background-image: url("images/plus.webp");
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -10;
}

#heroBGLayer1, #heroBGLayer2 {
  position: absolute;
  top: 0;
  background-size: auto;
  background-repeat: repeat;
  height: 100%;
  width: 100%;
}

#heroBGLayer1 {
  background-image: url("images/layer1.webp");
  z-index: -9;
}

#heroBGLayer2 {
  background-image: url("images/layer2.webp");
  z-index: -8;
}

#heroContent {
  box-sizing: border-box;

  position: relative;
  padding: 2rem 2rem 2rem 10rem;
  margin-left: -10rem;
  border-width: .25rem;
}


.bordered {
  border: .5rem solid #fafafa;
}

nav {
  text-align: right;
  height: 100%;
  flex-grow: 1;
  align-self: center;
}

button.navIcon {
  height: 100%;
  display: none;
  appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

button.navIcon:hover {
  cursor: pointer;
}

button.navIcon {
  margin: 0;
}

@media screen and (max-width: 1000px) {
  nav {
    align-self: auto;
  }

  .navList {
    display: flex;
    transition: max-height .5s ease-out;
    overflow: hidden;

    max-height: 2rem;
    flex-direction: column;
    align-items: flex-end;
  }

  .navList a {
    float: none;
    display: block;
    margin-bottom: 1em;
  }

  button.navIcon {
    display: block;
  }
}

nav a {
  margin-left: 3em;
}

.frostyBlackBG {
  background-color: rgba(0, 0, 0, .75);
  backdrop-filter: blur(3px);
}

main section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}